h1 {
	text-align: center;
	color: white;
}
.p1 {
	color: white;
	text-align: center;
}
.input {
	color: black;
}
.user {
	text-align: center;
	color: white;
}
#sub {
	background-color: purple;
	color: cyan;
	margin-top: 10px;
}

#btn {
	background-color: purple;
	color: cyan;
}
#tipo {
	margin-top:20px;
}
#nws {
	display: none;
	background-color: purple;
	color: white;
}
#logi {
	margin-left: 1080px;
	padding-bottom: 50px;
	color: white;
}
.inp {
	color: black;
}
#sgi {
	color: purple;
}
.pht {
	display: none;
}
.all {
	display: none;
}
.headers {
	color: white;
}
#hmo {
	color: white;
}
#mrm {
	color: white;
}
#new {
	color: white;
}
#ft {
	color: white;
}
